@use "./variables" as vars;
@use 'sass:color';

@each $key, $val in vars.$colors {
    // for each petlja kroz mapu colors
    .text-#{$key} {
        color: $val;
    }
    .text-hover-#{$key} {
        &:hover {
            color: $val;
        }
    }
    .bg-#{$key} {
        background-color: $val;
    }

    // light vartiations -> for petlja
    @for $i from 1 through 9 {
        .text-#{key}-light-#{$i}{
            color: color.mix(white, $val, $i * 10%)
        }
        .text-hover-#{$key}-light-#{$i} {
            &:hover {
                color: color.mix(white, $val, $i * 10%);
            }
        }
        .bg-#{key}-light-#{$i}{
            background-color: color.mix(white, $val, $i * 10%)
        }
    }

    // dark variations
     @for $i from 1 through 9 {
        .text-#{key}-dark-#{$i}{
            color: color.mix(black, $val, $i * 10%)
        }
        .text-hover-#{$key}-dark-#{$i} {
            &:hover {
                color: color.mix(black, $val, $i * 10%);
            }
        }
        .bg-#{key}-dark-#{$i}{
            background-color: color.mix(black, $val, $i * 10%)
        }
    }
}

